body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f6f7f1;*/
    /*background-color: #00695c;*/
    /*background-color: #20639B;*/
}

#my-jumbotron {
    height: auto;
    background-color: transparent;
}

.my-header {
    color: rgb(88, 166, 24);
}

.my-card-title{
    background-color: #20639B;
}

.my-card {
    width: 18rem;
}

.card-box {
    flex: 1 150px;
    padding: 0.7em;
    margin-top: 0.7%;
}

.card-btn {
    width: 100%;
    margin: 5px;
}

#my-footer {
    
    margin-bottom: 1.2%;
}

#contact-btn {
    padding: 1.1em;
    margin: 1.2em 1.2em 1.2em 0;
}